@use 'base/variables' as v;
@use 'base/mixins' as m;

.testimoniales-blog {
    margin-top: 5rem;
    @include m.grid(3, 5rem);


    &__blog {
        @include m.desktop {
            grid-column: 2 / 4;
        }
    }

    &__heading {
        @include m.heading(true);
    }
}


.testimonial {

    text-align: center;

    &__nombre {
        font-size: 2.4rem;
        font-weight: 700;
    }

    &__imagen {
        width: 20rem;
        margin: 0 auto;

    }

    &__contenido {
        background-color: v.$blanco;
        padding: 2rem;
        margin-top: -10rem;
        padding: 10rem 2rem 2rem;
    }

    &__texto {
        &::before {
            content: '';
            background-image: url(../img/quote.svg);
            width: 4rem;
            height: 4rem;
            display: inline-block;
            background-repeat: no-repeat;
            top: 0;
            left: 0;
            background-position: center;
            margin-right: 1rem;
        }
    }
}


.entrada {
    background-color: v.$blanco;
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;

    &__imagen {
        object-fit: cover;
        aspect-ratio: 1 / 1;
    }

    &__enlace {
        @include m.boton(v.$primario, v.$blanco);
    }

    &__meta {
        font-size: 1.2rem;
    }

    &__contenido {
        padding: 2rem;
    }
}