 @use 'base/variables' as v;

 .header {
    color: v.$negro;
    padding: 5rem 0;

    &::before {
       content: '';
       background-color: v.$negro;
       display: block;
       width: 100%;
    }

    .header-inicio {
       background-image: url(../img/header_inicio.jpg);
    }
 }