@use 'base/variables' as v;
@use 'base/mixins' as m;

.hero {
    height: 60rem;
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__texto {
        color: v.$blanco;
    }

    &__enlace {
        @include m.boton(v.$terciario, v.$blanco);
    }
}